<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/bdcc.jpg" type="image/x-icon">
    <title> About Us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./about.css">
    <link rel="stylesheet" href="./index.css">
</head>

<body>

    <header class="dark">
        <div class="container">
            <div class="d-flex align-items-center align-self-center justify-content-between">
                <div class="logo">
                    <h1 class="text-white">BIG DREAMS CAR</h1>
                </div>
                <nav>
                    <a href="tel:9999999983" class="">BUY - 9898 9769 98  |  9898 6353 98</a>
                    <span>|</span>
                    <a href="#" class="storieslnk" data-modal="stories"><img
                            src="https://cdn.bigboytoyz.com/new-version/assets/images/white-start-icon.png"
                            alt="Star">Stories</a>
                    <div class="navtrigger"></div>
                </nav>

            </div>
        </div>

    </header>
    <div class="banner">

        <div class="banner-img">
            <img src="/images/bgphoto.jpg" alt="">
        </div>
    </div>
    <section class="mission text-barlow py-5">
        <div class="container">
            <h2 class="mb-4">BIG DREAMS CAR, a pre-owned luxury car dealer deals with 24 brands</h2>

            <p class="mb-4">BDC started in 2022 as a benchmark model for the Pre-Used, or how we prefer to see it as,
                Pre-Loved Car Brand. The mission was simple, direct and drove effect - delivering a new dimension of
                luxury while standardising & raising platforms for the used car market in India.</p>

            <p class="mb-5">Since our inception our primary aim has been our passion for delivering excellence which
                became our mission. YOU (our patrons) are the driving force behind our company and making sure you get
                the best is what we thrive on.</p>

            <h2 class="mb-3">MISSION</h2>
            <p>The journey began in 2009 when BDC was founded in New Delhi, India. Since then our mission has been to
                provide quality exotic cars with highly personalized care at a competitive price. Creating a new
                benchmark for excellence in every aspect of our business.</p>
        </div>
    </section>



</body>

</html>