<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <!-- <form action="" method="post">
            PHP = <input type="text" name="php">
            ASP = <input type="text" name="asp">
            <input type="submit" name="submit" value="submit">
        </form> -->
    </center>
</body>
</html>